priority -50

snippet //-
// --------------------
// ${1:header}
// --------------------
endsnippet

snippet //=
// ===========================================================================
// ${1:header}
// ===========================================================================
endsnippet

